@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format(woff2);
  font-display: swap;
}

/* Общее */

html {
  height: 100%;
}

body {
  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 30px;

  background-color: #ffffff;
  color: #444444;

  margin: 0;
  padding-top: 20px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */

.button {
font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;

border: none;
background-color: transparent;
}


/* Главная страница */

/* Шапка */

.header {
  width: 1040px;
  margin: 0 auto;
  /* padding: 0 60px; */
  /* background-color: #FFE17F; */

  box-sizing: border-box;
}

.logo {
  margin-bottom: 30px;
}

.logo__link:hover .logo {
  opacity: 0.6;
}

.logo__link:active .logo {
  opacity: 0.3;
}

.logo__link:focus .logo {
  border: 2px solid #AF4FFF;
}



/* Навигация с личными данными - шапка */

.navigation__personal {
  margin: 0;
  margin-bottom: 30px;

  display: flex;
}

/* Форма поиска */

.search__form {
  display: flex;

  position: relative;
}

.search__icon {
  position: absolute;
  top: 40%;
  left: 10px;
}

/* Как сделать, чтобы иконка меняла цвет???? */

.search__field {
  width: 359px;
  height: 40px;
  margin: 0;
  padding: 0 0 0 48px;

  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right: none;

  font-size: 16px;
  line-height: 20px;
  color: #000000;

  background-color: transparent;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search__field::placeholder{
  font-size: 16px;
  line-height: 20px;

  color: #000000;
  opacity: 0.3;
}

.search__field:focus {
  outline: 2px solid #AF4FFF;
}

.search__field:disabled {
  opacity: 0.3;
}

.search__button {
  width: 160px;
  height: 40px;
  padding: 10px;
  /* box-sizing: border-box; */


  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;

  background-color: transparent;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.search__button:hover {
  color: white;
  background-color: #000000;
}

.search__button:active {
  color: #C4C4C4;
}

.search__button:focus {
  outline: 2px solid #AF4FFF;
}

.search__button:disabled {
  opacity: 0.3;
}

/* Навигация */

.navigation__list__personal {
  list-style-type: none;

  padding: 0;
  margin: 0;
  margin-left: auto;

  display: flex;
  align-items: center;
}

.navigation__link__personal {
  text-decoration: none;
  color: black;
}

.navigation__link__personal__compare {
  padding-left: 22px;
}

.navigation__link__personal:hover {
  color:#666666;
}

.navigation__link__personal:active {
  color:#b3b3b3;
}

.navigation__link__personal:focus {
  border: 2px solid #AF4FFF;
}

.navigation__item__personal:hover .navigation__icon {
  fill: #666666;
}

.navigation__item__personal:active .navigation__icon {
  fill:#b3b3b3;
}

.login__item {
  margin-right: 176px;
}

.compare__item {
  margin-right: 30px;
}

.navigation__link__personal__basket {
  padding-left: 20px;
}

/* Навигация с информацией об интернет-магазине - шапка */

.navigation__about {
  margin: 0;

  display: flex;
  align-items: center;
}

.catalog-section {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}

.catalog-section__title {
  margin: 0;
  margin-right: 25px;
}

.catalog-section__button {
  width: 50px;
  height: 50px;

  margin: 0;
  padding: 0;

  border-radius: 50%;
  /* border: 2px solid rgba(255, 255, 255, 0.3); */
  border: 2px solid #444444;

  background-color: transparent;
}

.navigation__list__about {
  list-style-type: none;

  padding: 0;
  margin: 0;
  margin-left: auto;

  display: flex;
}

.navigation__item__about {
  margin-right: 45px;
}

.navigation__item__about:last-child {
  margin-right: 0;
}

.catalog-section__link,
.navigation__link__about {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navigation__link__about:hover {
  opacity: 0.8;
}

.navigation__link__about:active {
  opacity: 0.3;
}

.navigation__link__about:focus {
  border: 2px solid #AF4FFF;
}

/* Основная часть */

.main__container {
  flex-grow: 1;

  margin: 0;
}

/* Слайдер и описание товара - основная часть */

.slider__product-description__container {
  display: flex;

  width: 1160px;
  margin: 0 auto 70px auto;
}

/* Слайдер */

.slider__pagination {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
}

/* Описание товара */

.product-description {
  width: 560px;
  margin: 0;
}

.product-description__order-number {
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: white;
  text-align: right;

  margin: 0;
}

.product-description__text__main {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: black;

  margin: 0;
  margin-bottom: 30px;
}

.product-description__text__minor {
  margin: 0;
  margin-bottom: 50px;
}

.product-description__button {
  margin: 0;
  margin-bottom: 50px;
}

.product-details__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.product-details__item {
  display: flex;
  flex-direction: column;

  margin-right: 20px;
}

.product-details__item:last-child {
  margin-right: 0;
}

.product-details__number {
  font-size: 36px;
  line-height: 30px;
  color: black;
  margin-bottom: 12px;
}

.product-details__text {
  font-size: 16px;
  line-height: 30px;
}

/* Категории товаров на сайте - основная часть */

.product-categories {
  width: 1160px;
  margin: 0 auto 70px auto;
}

.product-categories__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.product-categories__item {
  display: flex;
  flex-direction: column;

  width: 160px;
}

.product-categories__image__wrap {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  color: #444444;

  margin-bottom: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.monopod__image {
  align-self: end;
}

.product-categories__title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;
}

/* Дополнительные услуги с описанием - основная часть */

.extra-services__container {
  display: flex;

  width: 1160px;
  margin: 0 auto 70px auto;
}

/* Список дополнительных услуг */

.extra-services {
  width: 280px;
  padding: 64px 0 65px 0;
}

.extra-services__list {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.extra-services__item {
  margin-bottom: 35px;
}

.extra-services__item:last-child {
  margin-bottom: 0;
}


/* Описание дополнительных услуг */

.extra-services-description {
  width: 873px;
  padding: 73px 63px 73px 116px;
  box-sizing: border-box;
}

.extra-services-description__title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: black;

  margin: 0;
  margin-bottom: 34px;
}

.extra-services-description__text {
  margin: 0;
  max-width: 452px;
}

/* Доставка редких товаров - основная часть */

.rare-product {
  display: flex;

  width: 1160px;
  margin: 0 auto 70px auto;
}

.rare-product__image__wrap {
  width: 125px;
  height: 100px;

  background-color: #FFE17F;
  color: #444444;

  display: flex;
  align-items: center;
  justify-content: center;
}

.rare-product__text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;

  margin: auto;
}

.rare-product__button {
  width: 125px;
  height: 100px;

  padding: 0;
  margin: 0;
  border: 0;
}

/* Информация о компании и контакты - основная часть */

.about-us__contacts__container {
  display: flex;

  width: 1160px;
  margin: 0 auto 70px auto;
}

/* Информация о компании */

.about-us__title,
.contacts__title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: black;

  margin: 48px 0;
}

.about-us__text {
  margin: 0;
  margin-bottom: 30px;
}

.delivery__list {
  list-style-type: none;

  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.delivery__item {
  margin-bottom: 19px;
}

.delivery__item:last-child {
  margin-bottom: 0;
}

.delivery__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: black;
}

/* Контакты */

.contacts__text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  margin: 0;
  margin-bottom: 15px;
}

.contacts__address {
  text-decoration: none;
  color: #444444;
}

.contacts__phone {
  color: #444444;

  display: block;
  margin-bottom: 30px;
}

/* Подписка на рассылку - основная часть */

.subsciption__background {
  background-color: #F0F0F0;
}

.subsciption {
  width: 1160px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.subsciption__title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: black;

  width: 348px;
  margin: 64px 0 144px 0;
}

.subsciption__text {
  width: 560px;
  margin: 74px 0 144px 252px;
}

.subsciption__form {
  margin-bottom: 56px;

  display: flex;
}

.subsciption__input {
  width: 557px;
  height: 55px;

  margin: 0;
  padding: 0 0 0 16px;

  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #C4C4C4;

  background-color: transparent;
}

.subsciption__input::placeholder {
  font-size: 18px;
  line-height: 30px;

  color: #444444;
  opacity: 0.5;
}

.subsciption__button {
  width: 253px;
  height: 58px;
  padding: 18px 39px;

  border: 3px solid #C4C4C4;
}

.subsciption__free {
  margin-left: auto;
  margin-top: 13px;
}

/* Подвал сайта */

.footer__background {
  background-color: #444444;
  color: #ffffff;

}

.footer__container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__address__container {
  display: flex;
}

.address {
  width: 246px;
  margin-bottom: 62px;
}

.address__text {
  font-size: 16px;
  line-height: 20px;
}

.footer__link__about {
  color: #ffffff;
}

.phone {
  margin-left: 183px;
}

.phone__link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration-line: underline;
}

.footer__social__copyright__container {
  display: flex;
}

.social__list {
  display: flex;
}

/* Страница каталога */

/* Шапка - каталог */

.header__catalog {
  position: relative;

}

.header__catalog::before{
  content: "";
  width: 1160px;
  height: 186px;
  margin: 25px auto 0 auto;
  background-color: #FFE17F;
  z-index: -1;
  position: absolute;
  left: -60px;

}

.login__item__header {
  /* margin-right: 28px; */
}


.navigation__link__personal__catalog {
  padding-left: 10px;

}

.logout__item__header {
  margin-right: 27px;
}

.navigation__link__personal__inactive {
  color:  #444444;
  padding-left: 15px;
  /* переделать цвет на черный с прозрачностью 0.3 */
}

/* Внутренняя шапка - каталог */

.inner-header {
  width: 1160px;
  margin: 35px auto;
  padding-left: 60px;

  box-sizing: border-box;
}

.inner-header__title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: black;

  margin: 0;
  margin-bottom: 16px;
}

.catalog-navigation__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.catalog-navigation__item {
  margin: 0;
  height: 20px;

  /* Какие ещё варианты сделать лишку такой же высоты, что и текст?!!!!! */
  /* Почему item выше, чем лишка???? */
}

.catalog-navigation__item:last-child {
  margin-right: 0;
}

.catalog-navigation__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: black;

  padding-right: 36px;

  position: relative;
}

.catalog-navigation__link:hover {
  color: #666666;
}

.catalog-navigation__link:active {
  color: #b3b3b3;
}

.catalog-navigation__link:focus {
  border: 2px solid #AF4FFF;
}

.catalog-navigation__icon__link::after {
  position: absolute;

  content: url(../images/catalog/breadcrumbs-arrow-icon__catalog.svg);
  top: 0;
  right: 16px;
}

/* Контейнер для фона каталога */

.catalog__background {
  background-color: #F0F0F0;
  color: #444444;
}

/* Контейнер для секций "Фильтр", "Сортировка", "Результаты поиска" и "Пагинация" - каталог */

.filter__sorting__search-results__pagination__container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: right;
}

/* Фильтр - каталог */

.filter {
  width: 260px;

  background-color: #F0F0F0;
  color: #444444;
}

.filter__title {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  margin: 25px 0 60px;
}

.filter__form {
  width: 200px;
}

.filter__group {
  width: 200px;
  box-sizing: border-box;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.filter__group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;

  margin-bottom: 20px;
}

/* Рейнджер */

.range {
  /* width: 200px; */
  /* как сделать, чтобы он был на всю длинну фильдсета??? */
}

.range__scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #DCDCDC;

  width: 200px;
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range__toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range__toggle:hover {
  border: 2px solid #444444;
  /* border: 2px solid rgba(255, 255, 255, 0.3); */
}

.range__toggle:active {
  background-color: #000000;
}

.range__toggle:focus {
  /* ?????? */
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range__inputs {
  display: flex;
  justify-content: left;
  column-gap: 50px;
}

.range__label {
  display: flex;

  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.range__input {
  width: 30px;
  padding: 0 2px;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range__input::-webkit-outer-spin-button,
.range__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Оформление чек-боксов */

.filter__list {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.filter__item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  position: relative;
  display: block;
  padding-left: 36px;
}

.control__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-sizing: border-box;
}

.control:hover .control__mark {
  border-color: #444444;
  /* Более внимательно изучить и прописать состояния */
}

.control__input:disabled + .control__mark {
  border-color: #CCCCCC;
  /* Более внимательно изучить и прописать состояния */
}

.control__input[type="checkbox"]:checked + .control__mark::before,
.control__input[type="checkbox"]:checked + .control__mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  transform: rotate(45deg);
}

.control__input[type="checkbox"]:checked + .control__mark::after {
  transform: rotate(-45deg);
}

/* Радио-кнопки */

.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control__label {
  font-size: 16px;
  line-height: 20px;
}

/* Контейнер для секций "Сортировка", "Результаты поиска" и "Пагинация" - каталог */

.sorting__search-results__pagination__container {
  display: flex;
  flex-direction: column;
}

/* Сортировка - каталог */

.sorting {
  display: flex;

  padding: 25px 40px;

  background-color: #F0F0F0;
}

.sorting__title {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
}

.select-control {
  width: 145px;
  margin: 0 auto;

  padding-right: 32px;

  font: inherit;

  background-color: transparent;
  border: none;

  background-image: url(../images/catalog/select-arrow__catalog.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;

  appearance: none;
}

.sorting__button {
  width: 30px;
  height: 30px;
}

.sorting__button:hover .sorting__icon {
  fill: #808080;
}

.sorting__button:active .sorting__icon {
  fill: #000000;
}

.sorting__button:focus {
  border: 2px solid #AF4FFF;
}

.sorting__button:focus .sorting__icon {
  fill: #CCCCCC;
}


/* Контейнер для фона результатов поиска и пагинации - каталог */

.search-results__pagination__background {
  background-color: #ffffff;
}

/* Результаты поиска - каталог */

.search-results__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;

  padding: 70px 40px 44px;

  background-color: #ffffff;
}

.search-results__item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.search-results__wrapper {
  display: flex;
  justify-content: space-between;
}


.search-results__link__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;

  max-width: 233px;
}


.search-results__price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.search-results__button {
  width: 760px;
  height: 55px;

  margin: 0 40px 44px;
  padding: 0;

  border: 3px solid #E5E5E5;
}

.search-results__button:hover {
  border: 3px solid #000000;
}

.search-results__button:active {
  color: #b3b3b3;
  border: 3px solid #b3b3b3;
}

.search-results__button:focus {
  border: 3px solid #e5e5e5;
  outline: 2px solid #AF4FFF;
  /* Подумать, как ещё это всё можно сделать */
}

.search-results__button:disabled {
  color: #b3b3b3;
  border: 3px solid #E5E5E5;
}

/* Пагинация */

.pagination {
  display: flex;
  justify-content: space-between;

  width: 760px;
  height: 71px;

  margin: 0 40px 78px;

  background-color: #EBEBEB;
}

.pagination__button {
  width: 128px;
  height: 71px;
}

.pagination__button:hover {
  background-color: #DCDCDC;
}

.pagination__button:active {
  color: #9a9a9a;
  background-color: #DCDCDC;
}

.pagination__button:focus {
  background-color: #f0f0f0;
  outline: 2px solid #AF4FFF;
}

.pagination__button:disabled {
  color: #b9b9b9;
  background-color: #EBEBEB;
}

.pagination__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
}

.pagination__item {
  width: 40px;
  height: 40px;
}

.pagination__link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
  opacity: 0.6;

  width: 40px;
  height: 40px;


  display: flex;
  justify-content: center;
  align-items: center;
}
